%h2 Passage

.row
  .large-12.columns
    - @result["response"]["search"]["result"]["passages"].each do |passage|
      - if @format == "xml" 
        %h2= passage.last["display"]
        %h4= passage.last["version_abbreviation"]
        = passage.last["text"].html_safe
      - else
        %h2= passage["display"]
        %h4= passage["version_abbreviation"]
        = passage["text"].html_safe



