.oyb-header
  .oyb-title One Year Bible
  .oyb-date= day.date.strftime("%B %e")
%hr.oyb-hr
.oyb-nav-links
  = link_to "< #{day.date.yesterday.strftime("%b %e")}", "#", :class => 'oyb-prev oyb-nav-button oyb-nav-button-center oyb-update', :'data-id' => day.id - 1
  = link_to "Devotional", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher active', :id => "oyb-dv"
  = link_to "Old Testament", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-ot"
  = link_to "New Testament", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-nt"
  = link_to "Psalm", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-psalm"
  = link_to "Proverbs", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-proverb"
  = link_to "#{day.date.tomorrow.strftime("%b %e")} >", "#", :class => 'oyb-next oyb-nav-button oyb-nav-button-center oyb-update', :'data-id' => day.id + 1
  = select_tag :bible, options_for_select(versions, bible), :class => 'oyb-version-switcher'

  = hidden_field_tag :day, day.id

.oyb-nav-links-tablet
  .oyb-three-column-grid
    = link_to "< #{day.date.yesterday.strftime("%b %e")}", "#", :class => 'oyb-prev oyb-nav-button oyb-nav-button-center oyb-update', :'data-id' => day.id - 1
    = link_to "#{day.date.tomorrow.strftime("%b %e")} >", "#", :class => 'oyb-next oyb-nav-button oyb-nav-button-center oyb-update', :'data-id' => day.id + 1
    = select_tag :bible, options_for_select(versions, bible), :class => 'oyb-version-switcher'  
  .oyb-five-column-grid
    = link_to "Devotional", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher active', :id => "oyb-dv"
    = link_to "Old Testament", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-ot"
    = link_to "New Testament", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-nt"
    = link_to "Psalm", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-psalm"
    = link_to "Proverbs", "#", :class => 'oyb-nav-button oyb-nav-button-center oyb-nav-switcher', :id => "oyb-proverb"

.oyb-nav-links-mobile
  = link_to "< #{day.date.yesterday.strftime("%b %e")}", "#", :class => 'oyb-prev oyb-nav-date', :'data-id' => day.id - 1
  = link_to "#{day.date.tomorrow.strftime("%b %e")} >", "#", :class => 'oyb-next oyb-nav-date', :'data-id' => day.id + 1
  .oyb-one-column-grid
    = link_to "Devotional", "#", :class => 'oyb-nav-button oyb-nav-button-left oyb-nav-switcher active', :id => "oyb-dv"
  .oyb-one-column-grid
    = link_to "Old Testament", "#", :class => 'oyb-nav-button oyb-nav-button-left oyb-nav-switcher', :id => "oyb-ot"
  .oyb-one-column-grid
    = link_to "New Testament", "#", :class => 'oyb-nav-button oyb-nav-button-left oyb-nav-switcher', :id => "oyb-nt"
  .oyb-one-column-grid
    = link_to "Psalm", "#", :class => 'oyb-nav-button oyb-nav-button-left oyb-nav-switcher', :id => "oyb-psalm"
  .oyb-one-column-grid
    = link_to "Proverbs", "#", :class => 'oyb-nav-button oyb-nav-button-left oyb-nav-switcher', :id => "oyb-proverb"
  .oyb-one-column-grid
    = select_tag :bible, options_for_select(versions, bible), :class => 'oyb-version-switcher'  
%hr.oyb-hr
